html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
  
}


img {
    display: block;
}

:root {
    --text-color:#212121;
    --link-hover-color:#2196F3;
    --esle-color: #757575;
    --white-color: #ffffff;
    --backcolor:#E5E5E5;
    --backcolor-our-team:#F5F4FA;
    --footer-color:#2F303A;
    --font-family-roboto: Roboto, sans-serif;
    --font-family-railway: Raleway, cursive;
    }


body {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    background-color: var(--white-color);
    color: var(--text-color);
    font-family: var(--font-family-roboto);
    letter-spacing: 0.03em;
    text-decoration: none;
}
button {
    font-family: inherit;
    text-decoration: none;
    
}

.none {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    list-style: none;
}

.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding:0 !important;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;

}

/* ===header=== */
.header {
    background-color: var(--white-color);
} 
  
.container-header {
    display: flex; 
    }

.container-header-nav{
    display: flex;
    align-items: center;
}

.link-nav {
    list-style: none;
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-left: 0;
    align-items: center;
    text-decoration: none;
}

.link-nav li {
    margin-right: 50px;
}

.link-nav li:last-child {
    margin-right:0;
}
.logoweb {
    padding-top: 24px;
    padding-bottom: 25px;
    padding-left: 0;
    margin-left: 0;
    margin-right: 93px;
    color: var(--text-color);
    font-family: var(--font-family-railway);
    font-size: 24px;
    line-height: 1.17;
    text-decoration: none;
}

.logoweb-color {
    color: var(--link-hover-color);
}

.nav {
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;  
    padding-left: 0;
    align-items: center;
 
}

.link {
    color:var(--text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}
.link:hover ,
.link:focus {
    color:var(--link-hover-color);
}
.contact-nav {
    list-style: none;
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    padding-left: 0;
    align-items: center;
    
}

.contact-nav li {
    margin-right: 50px;
}

.contact-nav li:last-child {
    margin-right:0;
}

.contact {
    display: block;
    color: var(--esle-color);
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    text-decoration: none;   
    
    
}
.contact:hover ,
.contact:focus {
  color:var(--link-hover-color)
}

/* --------------------------- header's happy end ------------------------------------- */

/* STUDIO */

/* ====HERO==== */


.section-hero {
    display: flex;
    background-color: black;
    min-height: 600px;
    padding: 50px 0;

}

.cont-hero {
   
    max-width: 726px;
    padding: 0 15px;
    margin: auto;
}

.business-h-one {
    margin-top: 0;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--white-color);
}
.studio-button {
    display: inline-block;
    border-radius: 4px;
    padding: 10px 32px;
    border: none;
    color: var(--white-color);
    background-color: var(--link-hover-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: 0.06em;
  }
/* ---------------------------hero happy end------------------------------------- */

/* ====== section skills ====== */

.skills {
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 94px;
    background-color: var(--backcolor);
}


.business-li {
    display: flex;
    padding-left: 0;
    padding-top: 94px;
    margin-top: 0;
}

.business-li-item {
    margin-right: 30px;
    width: 270px;
    height: 101;
}

.business-li-item:last-child {
    margin-right: 0;
}
.business-header {
    color: var(--text-color);
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
}

.business-comment {
    color: var(--esle-color);
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
}

/* --------------------------- skills happy end ------------------------------------- */


/* -----------section What we do------------*/

.what-we-do-section {
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 94px;
    background-color: var(--backcolor);
}

.what-we-do {
    text-align: center;
    margin-top: 0;
    margin-bottom: 50px;
}

.what-we-do-ul {
    display: flex;
    width: calc(100%/3);
    padding-left: 0;
 }
 /* .what-we-do-ul: :last-child {

 } */
 .what-we-do-picture-picture {
    margin-right: 30px;
}


/* --------------------------- skills happy end ------------------------------------- */

/*-------------- section our team -------------- */

.our-team-section {
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    padding-bottom: 94px;
    background: var(--backcolor-our-team);
}

.header-h-three {
    padding-top: 94px;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    margin-top: 0;
    margin-bottom: 50px
}

.our-team-ul {
    display: flex;
    padding: 0;
}

.our-team-ul li:last-child {
    margin-right:0;
}
.our-team {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 30px;
    list-style: none;
}

.team-photo-comment {
    width: 270px;
    height: 108px;
    background-color: #fff;
    text-align: center;
}

.team-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    margin-top: 0;
    margin-bottom: 10px;
    padding-top: 30px;
}

.profession {
    color: var(--esle-color);
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 30px;
}


/* --------------------------- section our team happy end------------------------------------- */



/* ------------ footer ------------ */

.footer {    
    background-color: var(--footer-color);
   }

.address {
    font-style: normal;
}

.logo-footer-h2 {
    margin-top: 0;
    margin-bottom: 0;
}

.logoweb-footer {
    display: inline-block;
    padding-top: 60px; 
    margin-bottom: 20px;
    color: var(--white-color);
    font-family: var(--font-family-railway);
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-decoration: none;    
}

.footer-logo {
    padding-left: 0;
}

.address {
    color: var(--white-color);
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    text-decoration: none;
    margin-top: 0;
    margin-bottom: 9px;
}

.contact-footer {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color:var(--esle-color);
    text-decoration: none;
}
/* ---------------------------footer happy end------------------------------------- */

/* ============ PORTFOLIO ============ */



/* section hero */

.section-hero-portfolio{
    background-color: var(--backcolor);
}

.button-portfolio-ul {
    display: block;
    display: flex;
    padding-left: 0;
    padding-top: 94px;
    padding-bottom: 50px;
    margin-left: 280px;
}

.button-portfolio-li {
    margin-right: 8px;
}

.button-portfolio-li:last-child {
    margin-right: 0;
}

.button-portfolio {
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    padding: 6px 22px;
    background: #F5F4FA;
    border-radius: 4px;
    color: var(--text-color);
    background-color:var(--backcolor-our-team);   
}

.button-portfolio:hover ,
.button-portfolio:focus {
    background-color: var(--link-hover-color);
    color: var(--white-color);
}
/* ------------hero happy end---------------- */
/* ---------section 2---------- */

.section-2-port  {
    background-color: var(--backcolor);
}

.con {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto
}

.porfolio-ul {
    padding-left: 0;
    margin-right: 0;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 94px;
}


.li-portfolio {
    width: 370px;
    height: 404px;
    margin-right: 30px;
    margin-bottom: 30px;
}

.li-portfolio:nth-child(3n) {
    margin-right: 0;
}

.li-portfolio:nth-last-child(-n+3) {
    margin-bottom: 0;
}

.link-portfolio {
    text-decoration: none;
}

.photo-comment-port {
    width: 370px;
    height: 110px;
    background-color: #fff;
    padding-left: 24px;
}

.header-two {
    color: var(--text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-top: 0;
    margin-bottom: 4px;
    padding-top: 20px
}

.type {
    color: var(--esle-color);
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    margin-bottom: 0;
    padding-bottom: 20px;
    margin-top: 0;
}
